@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-montserrat);
}

button{
  @apply cursor-pointer m-0;
}

p{
  @apply m-0 p-0;
}

.common-input{
  @apply pl-6 pr-10 placeholder:text-primary-black placeholder:text-opacity-50 placeholder:font-normal border-2 border-light-blue rounded-3xl h-12 w-full focus:outline focus:outline-light-blue;
}

.main-button{
  @apply font-semibold text-xl bg-yellow w-full rounded-3xl h-14;
}

/* splash */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.title-animation {
  animation: fadeInUp 0.8s ease-in-out forwards;
}
.main-div{
  @apply block text-center h-screen bg-black;
}
.logo-div{
  @apply flex items-center justify-center pt-[60%];
}
.auth-app-title{
  @apply text-white text-[28px] mt-6 ease-in-out font-light 
}

/* intro screen */
.intro-main-div{
  @apply bg-black min-h-screen;
}
.intro-silder-main-div{
  @apply relative h-[408pt] overflow-hidden;
}
.silder-images{
  @apply absolute w-full transition-opacity duration-700;
}
.close-button{
  @apply z-10 absolute right-4 top-4;
}
.intro-details{
  @apply w-full text-center z-10 my-7;
}
.intro-title{
  @apply text-white text-[40px] leading-9 mx-3;
}
.intro-description{
  @apply text-white text-[16pt] leading-5 mx-3 mt-7;
}
.silder-container{
  @apply flex flex-col justify-center items-center;
}
.silder-dot{
  @apply z-30 space-x-3 ;
}
.silder-dot-button{
  @apply w-3 h-3 rounded-full;
}
.next-progess-button{
  @apply relative flex flex-col mx-auto size-40 ;
}
.progess-arrow-btn{
  @apply  bg-neutral-700 font-medium rounded-full text-sm p-5 text-center inline-flex items-center;
}
.progress-arrow-div{
  @apply absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2;
}

/* login screen */
.login-div{
  @apply flex flex-col items-center justify-center;
}
.welcome-auth-title{
  @apply my-3 text-black font-bold text-3xl leading-7;
}
.google-login-btn{
  @apply mb-4 flex w-full h-10 justify-center items-center border-2 border-light-blue rounded-3xl;
}
.apple-login-btn{
  @apply bg-secondary-black mb-4 flex w-full h-10 justify-center items-center border-2 border-secondary-black text-white rounded-3xl
}
.login-form{
  @apply block min-h-[250pt] w-full mt-20;
}
.signup-form{
@apply block min-h-[250pt] pt-6 w-full;
}
.form-field-title{
  @apply mt-5 text-primary-black text-lg font-medium leading-4;
}
.password-main-div{
  @apply relative my-2.5;
}
.password-icon-img{
  @apply absolute right-5 top-1/3;
}
.checkbox-container{
  @apply flex items-center gap-3 my-5
}
.checkbox-input{
  @apply w-5 h-5 border-2 border-[#889398] rounded-md accent-[#889398]  focus:ring-[#889398];
}
.checkbox-label{
  @apply text-xl text-primary-black font-semibold;
}
.forgot-pwd-link{
  @apply mt-6 text-magenta font-semibold text-[16pt] leading-4
}
.login-signup-link{
  @apply tracking-normal text-magenta font-semibold text-[16pt] leading-4;
}
.login-text{
  @apply mt-16 text-[16pt] tracking-normal font-semibold text-primary-black leading-4;
}
.login-form-bg{
  @apply min-h-[350px] bg-light-blue bg-opacity-40 rounded-2xl w-full my-5 px-5 py-10
}

/* upload Profile screen */
.profile-image-container{
  @apply w-[180pt] h-[180pt] bg-gray-200 rounded-full flex items-center justify-center overflow-hidden
}
.profile-img{
  @apply w-full h-full object-cover
}
.add-profile-text{
  @apply text-[14pt] font-semibold text-magenta leading-4 hover:underline cursor-pointer;
}
.delete-icon{
  @apply w-5 mx-auto mt-2;
}
.profile-div{
  @apply mt-[50pt] text-center;
}

/* PopUp model CSS */
.popup-modal {
  @apply hidden fixed inset-0 z-50 justify-center items-center bg-black bg-opacity-50;
}
.popup-content {
  @apply relative bg-white px-7 text-center py-10 shadow-lg w-full max-w-[332pt];
}
.popup-title {
  @apply text-[30pt] font-bold mb-5;
}
.popup-text {
  @apply text-xl leading-6 text-primary-gray font-normal mb-8;
}
.reward-container {
  @apply flex justify-center gap-6 mb-9;
}
.reward-item {
  @apply flex flex-col items-center max-w-16;
}
.reward-text {
  @apply text-[11pt] text-black leading-4 mt-1;
}
.go-to-wardrobe {
  @apply text-magenta font-semibold text-xl leading-6 mt-6;
}

/* App header */
.app-header {
  @apply sticky top-0 bg-white w-full z-10 p-4 flex items-center justify-between;
}
.app-title {
  @apply mx-auto text-3xl text-black font-bold;
}
.app-logo{
  @apply mx-auto w-[82pt] h-[27pt];
}

/* Wardrobe Page */
.wardrobe-items {
  @apply grid xs:grid-cols-2 h-full w-full overflow-y-auto gap-4 px-4 pb-28 text-xl flex-grow;
}
.wardrobe-item-card {
  @apply w-full rounded-lg;
}
.Wardrobe-item-name {
  @apply text-xl font-medium;
}
.item-type {
  @apply font-bold;
}


/* notification page */
.notification-container{
  @apply flex justify-between items-start p-3 border-b border-gray-300
}
.notification-time-text{
  @apply text-primary-gray text-sm font-normal min-w-[85px] w-auto;
}
.notification-message-text{
  @apply text-primary-black text-base font-normal line-clamp-2;
}
.notification-images{
  @apply w-8 h-8
}
.notification-div{
  @apply flex items-start gap-2;
}

/* publications */
.publications-container{
 @apply bg-light-gray bg-opacity-40 rounded-lg my-4;
}
.publications-profile {
  @apply flex items-center space-x-2;
}
.publications-avatar {
  @apply w-10 h-10 rounded-full object-cover;
}
.publications-info {
  @apply font-bold text-[12pt] leading-4 text-primary-black;
}
.publications-time {
  @apply text-[10pt] font-medium opacity-40;
}
.publications-role {
  @apply text-[10pt] font-medium italic my-0 text-primary-black;
}
.publications-description {
  @apply text-[12pt] font-medium text-primary-black mt-2 p-3;
}
.publications-actions {
  @apply flex w-full bg-light-gray justify-center space-x-5 rounded-2xl mt-5 h-[40pt];
}
.publications-action-button {
  @apply flex items-center space-x-2;
}
.publications-action-button img {
  @apply w-6 h-6;
}
.publications-action-button span {
  @apply font-medium text-sm;
}

/* Profile page  */
.profile-container { 
  @apply relative w-[80pt] h-[80pt];
}
.profile-container img {
  @apply w-full h-full rounded-full object-cover;
}
.profile-online-dot {
  @apply absolute top-2 right-2 w-4 h-4 bg-cyan border-2 border-white rounded-full;
}
.profile-username{
  @apply xs:text-[30pt] text-[20pt] font-bold leading-9
}
.profile-address{
  @apply text-[14pt] font-medium leading-4;
}

.tabs-container {
  @apply flex flex-wrap justify-center gap-4 mt-4 px-4;
}
.tab-button {
  @apply text-[14pt] leading-4 font-medium text-primary-black;
}
.tab-button.active {
  @apply border-b-2 border-black bg-yellow;
}
.token-status-container {
  @apply pb-28 px-4;
}
.token-grid {
  @apply grid xs:grid-cols-2 gap-3 mt-4;
}
.token-card {
  @apply bg-light-gray bg-opacity-40 p-4 rounded-2xl flex flex-col items-center;
}
.token-card img {
  @apply w-14 h-14;
}
.token-card p {
  @apply text-lg font-bold;
}
.token-card span {
  @apply text-gray-600 text-xs;
}
.friend-container {
  @apply bg-light-gray bg-opacity-40 p-4 rounded-2xl mt-2 flex items-center justify-between cursor-pointer;
}
.friend-list {
  @apply flex flex-col xs:flex-row xs:items-center gap-3;
}
.friend-images {
  @apply flex;
}
.friend-images img {
  @apply w-16 h-16 rounded-full object-cover border-2 border-white -ml-4 first:ml-0;
}
.friend-count {
  @apply text-[14pt] font-bold xs:w-4;
}
.friend-count span {
  @apply font-normal;
}

.wardrobe-container {
  @apply bg-light-gray bg-opacity-40 p-4 rounded-2xl cursor-pointer;
}

.wardrobe-title {
  @apply text-[16pt] font-bold mt-4 mb-2;
}

.wardrobe-text {
  @apply xs:text-[18pt] text-[16pt] font-medium;
}

.wardrobe-grid {
  @apply grid grid-cols-3 gap-3 mt-3 w-[90%];
}

.wardrobe-item p {
  @apply xs:text-[12pt] text-[10pt] mt-1 text-gray-600 leading-tight;
}

.wardrobe-item span {
  @apply font-bold text-black;
}

.arrow-button img {
  @apply w-[10px];
}

/* BottomNavBar  */
.bottombar{
  box-shadow: 0pt -3pt 6pt #00000029;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: inherit;
  right: 0px;
  margin: 0 auto;
  max-width: 393pt;
}

.bottombar-container{
  @apply w-full bottom-0 z-10 bg-white grid grid-cols-5 py-2 relative
}
.bottombar-icon{
  @apply flex flex-col items-center text-xs font-medium py-3 xs:px-4 px-3 flex-1;
}

.bottombar-menu-name{
  @apply text-[11pt] font-medium pt-2;
}
.scanner-btn{
  @apply relative flex flex-col items-center flex-1
}
.scanner-div{
  @apply absolute xs:bottom-7 bottom-10 left-1/2 transform -translate-x-1/2 xs:p-5 p-3 rounded-full bg-black shadow-lg;
}