@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-montserrat);
}

button{
  @apply cursor-pointer m-0;
}

p{
  @apply m-0 p-0;
}

.common-input{
  @apply px-4 placeholder:text-primary-black placeholder:text-opacity-50 placeholder:font-normal border-2 border-light-blue rounded-3xl h-12 w-full focus:outline focus:outline-light-blue;
}

.main-button{
  @apply font-semibold text-xl bg-yellow w-full rounded-3xl h-14;
}

/* splash */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.title-animation {
  animation: fadeInUp 0.8s ease-in-out forwards;
}
.main-div{
  @apply block text-center h-screen bg-black;
}
.logo-div{
  @apply flex items-center justify-center pt-[60%];
}
.app-title{
  @apply text-white text-[28px] mt-6 ease-in-out font-light 
}

/* intro screen */
.intro-main-div{
  @apply bg-black min-h-screen;
}
.intro-silder-main-div{
  @apply relative h-[458pt] overflow-hidden;
}
.silder-images{
  @apply absolute w-full transition-opacity duration-700;
}
.close-button{
  @apply z-10 absolute right-4 top-4;
}
.intro-details{
  @apply w-full text-center min-h-[200px] z-10 my-7;
}
.intro-title{
  @apply text-white text-[40px] leading-9 mx-3;
}
.intro-description{
  @apply text-white text-[16pt] leading-5 mx-3 mt-7;
}
.silder-container{
  @apply flex flex-col justify-center items-center;
}
.silder-dot{
  @apply z-30 space-x-3 ;
}
.silder-dot-button{
  @apply w-3 h-3 rounded-full;
}
.next-progess-button{
  @apply relative size-40;
}
.progess-arrow-btn{
  @apply text-white bg-neutral-700 font-medium rounded-full text-sm p-5 text-center inline-flex items-center;
}
.progress-arrow-div{
  @apply absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2;
}

/* login screen */
.login-div{
  @apply px-5 flex flex-col items-center justify-center pt-7;
}
.welcome-auth-title{
  @apply my-3 text-black font-bold text-3xl leading-7;
}
.google-login-btn{
  @apply mb-4 flex w-full h-10 justify-center items-center border-2 border-light-blue rounded-3xl;
}
.apple-login-btn{
  @apply bg-secondary-black mb-4 flex w-full h-10 justify-center items-center border-2 border-secondary-black text-white rounded-3xl
}
.login-form{
  @apply block min-h-[250pt] w-full mt-20;
}
.signup-form{
@apply block min-h-[300pt] pt-6 w-full;
}
.form-field-title{
  @apply mt-5 text-primary-black text-lg font-medium leading-4;
}
.password-main-div{
  @apply relative my-2.5;
}
.password-icon-img{
  @apply absolute right-3 top-1/3;
}
.checkbox-container{
  @apply flex items-center gap-3 my-5
}
.checkbox-input{
  @apply w-5 h-5 border-2 border-[#889398] rounded-md accent-[#889398]  focus:ring-[#889398];
}
.checkbox-label{
  @apply text-xl text-primary-black font-semibold;
}
.forgot-pwd-link{
  @apply mt-6 text-magenta font-semibold text-[16pt] leading-4
}
.login-signup-link{
  @apply tracking-normal text-magenta font-semibold text-[16pt] leading-4;
}
.login-text{
  @apply mt-16 text-[16pt] tracking-normal font-semibold text-primary-black leading-4;
}
.login-form-bg{
  @apply min-h-[362pt] bg-light-blue bg-opacity-40 rounded-2xl w-full m-4 px-6 py-10
}

/* upload Profile screen */
.profile-image-container{
  @apply w-[180pt] h-[180pt] bg-gray-200 rounded-full flex items-center justify-center overflow-hidden
}
.profile-img{
  @apply w-full h-full object-cover
}
.add-profile-text{
  @apply text-[14pt] font-semibold text-magenta leading-4 hover:underline cursor-pointer;
}
.delete-icon{
  @apply w-12 mx-auto mt-2;
}
.profile-div{
  @apply mt-[50pt] text-center;
}

/* PopUp model CSS */
.popup-modal {
  @apply hidden fixed inset-0 z-50 justify-center items-center bg-black bg-opacity-50;
}
.popup-content {
  @apply relative bg-white px-7 text-center py-10 shadow-lg w-full max-w-[332pt];
}
.popup-title {
  @apply text-[30pt] font-bold mb-5;
}
.popup-text {
  @apply text-xl leading-6 text-primary-gray font-normal mb-8;
}
.reward-container {
  @apply flex justify-center gap-6 mb-9;
}
.reward-item {
  @apply flex flex-col items-center max-w-16;
}
.reward-text {
  @apply text-[11pt] text-black leading-4 mt-1;
}
.go-to-wardrobe {
  @apply text-magenta font-semibold text-xl leading-6 mt-6;
}


/* App header */
.app-header {
  @apply sticky top-0 bg-white w-full z-10 p-4 flex items-center;
}
.app-title {
  @apply mx-auto text-3xl font-bold;
}

/* Wardrobe Page */
.wardrobe-items {
  @apply grid xs:grid-cols-2 h-full w-full overflow-y-auto gap-4 p-4 text-xl;
}
.wardrobe-item-card {
  @apply w-full rounded-lg;
}
.Wardrobe-item-name {
  @apply text-xl font-medium;
}
.item-type {
  @apply font-bold;
}